<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!--<system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WsHttpBinding_IService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/WCFDataCaller/Service.svc"
                binding="wsHttpBinding" bindingConfiguration="WsHttpBinding_IService"
                contract="WCFData.IService" name="WsHttpBinding_IService">
                <identity>
                    <servicePrincipalName value="host/UbiSolTest" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>-->
   

    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DAT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>

    <applicationSettings>
        <DAT.Properties.Settings>
            <setting name="DAT_DataCaller_DataCaller" serializeAs="String">
                <value>http://106.241.11.46:8004/Service.asmx</value>
            </setting>
        </DAT.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
